html { 
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}
body {
    margin: 0;
}
h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: inherit;
    margin: 0;
    white-space: nowrap;
}
a{
    text-decoration: none;
    color: inherit;
}
ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
}
img {
    border-style: none;
    max-width: 100%;
    display: block;
}
button,
input,
textarea,
select {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    color: inherit;
}
button:focus,
input:focus,
textarea:focus {
    outline: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
html, body {
    overflow-x: hidden;
}
*, *::before, *::after {
    box-sizing: border-box;
}
[hidden] {
    display: none;
}